# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# IntelliJ files
.idea
source/.idea
*.iml

# Maven dirs
source/target
source/target/maven-status/maven-compiler-plugin/compile/default-compile
source/out

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.jar
*.exe

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Project-16x16
source/bin/
source/.settings/
source/.classpath
/.classpath
.classpath
source/.idea
source/Project-16x16.iml
source/.project
source/Assets/options.json
/bin/

